<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments :: head"></div>

<body>

<div th:replace="fragments :: adminnavbar"></div>


<div class="container">
    <table class="table table-striped table-hover table-bordered table-condensed">
        <thead>
        <tr>
            <th>Shift№</th>
            <th>Open date</th>
            <th>Closed date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shift : ${shifts}">
            <td th:text="${shift.id}"></td>
            <td th:text="${shift.creationDate}"></td>
            <td th:text="${shift.closedDate}"></td>
            <td><a class="btn btn-success" th:href="@{/admin/report/__${shift.generalReportId}__}">Report</a></td>
        </tr>
        </tbody>
    </table>
</div>


<div class="container" th:if="${pagination} ne null">
    <div th:if="${pagination.isPagination() == true}" th:with="total=${pagination.getPagesCount()}">
        <ul class="pagination pull-right">
            <li><a th:if="${pagination.getPreviousPage()!=-1}"
                   th:href="@{/admin/shifts/all(page=${pagination.getPreviousPage()})}">&laquo;</a></li>
            <li th:each="i : ${#numbers.sequence(1, total + 1)}"><a th:href="@{/admin/shifts/all(page=${i})}"
                                                                    th:text="${i}"></a></li>
            <li><a th:if="${pagination.getNextPage()!=-1}"
                   th:href="@{/admin/shifts/all(page=${pagination.getNextPage()})}">&raquo;</a></li>
        </ul>
    </div>
</div>


</body>
</html>