<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments :: head"></div>

<body>

<div th:replace="fragments :: adminnavbar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" style="margin-top:45px">
                <div class="panel-heading">
                    <h3 class="panel-title">Add new main category</h3>
                </div>
                <div class="panel-body">
                    <div th:if="${error} ne null" class="alert alert-danger" role="alert" th:text="${error.message}"></div>
                    <form method="post" th:object="${menuCategory}" th:action="@{/admin/menu/add_main}">
                        <div class="form-group"
                             th:class="${#fields.hasErrors('category')}? 'form-group has-error' : 'form-group'">
                            <label for="category">Main category</label>
                            <input type="text" class="form-control" id="category"
                                   name="category" th:field="*{category}"/>
                            <label class="control-label" for="category" th:errors="*{category}">Error!</label>
                        </div>
                        <button type="submit" class="btn btn-default">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>