<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments :: head"></div>

<body>


<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#main" data-toggle="tab">Общая информация</a></li>
        <li><a href="#admin" data-toggle="tab">Администратор</a></li>
        <li><a href="#waiter" data-toggle="tab">Официант</a></li>
        <li><a th:href="@{/login}">Возврат на страницу логина</a></li>
    </ul>


    <div class="tab-content">
        <div id="main" class="tab-pane fade in active">
            <h3 align="center">Система управления рестораном</h3>
            <p>Здравствуйте. Это приложение для управление рестораном. Основные фунцкции этого приложения:</p>
            <ul>
                <li>Официант. Выбор столика на этаже, формирование заказа, установка скидок, закрытие заказа.</li>
                <li>Администратор. Управление официантами, редактирование и добавление в меню новых категорий и
                    продуктов,
                    редактирование заказов(если официант совершил ошибку), открытие и закрытие смены, а также общий отчт
                    по завершению смены.
                </li>
            </ul>
            <p><strong>Важно!</strong> Официант может зайти в приложение только если рабочая смена открыта
                администратором.</p>
        </div>

        <div id="admin" class="tab-pane fade">
            <h3 align="center">Интерфейс администратора</h3>
            <img th:src="@{/images/waiters.jpg}" class="img-responsive"/>
            <p>В разделе пользователь, администратор может менять имя и пароль официантов, а также блокировать их.</p>
            <img th:src="@{/images/menu.jpg}" class="img-responsive"/>
            <p>В разделе меню, администратор может расширять меню добавляя новые категории и продукты, а также изменять
                существуюющие.</p>
            <img th:src="@{/images/order.jpg}" class="img-responsive"/>
            <p>В разделе заказов, есть функции просмотра всех или активных заказов, поиск по номеру, и редактирование
                активных заказов.
                Также администратор может просматривать историю заказа.</p>
            <img th:src="@{/images/message.jpg}" class="img-responsive"/>
            <p>В разделе сообщение, админ может просматривать сообщения от официантов.</p>
            <img th:src="@{/images/shift.jpg}" class="img-responsive"/>
            <p>В разделе рабочие смены, администратор открывает смену, после чего официанты могут зайти в свой робочий
                интерфейс. После окончания смены
                администратор закрывает смену(<strong>смену можна закрыть если все заказы закрыты</strong>). После
                закрытия смены на экран будет выведен
                отчет по текущей смене и отдельно по официантам. И в последующем разделе, при надобности, вы можете
                просматривать уже закрытые смены и отчёты.</p>
        </div>
        <div id="waiter" class="tab-pane fade">
            <h3 align="center">Интерфейс официанта</h3>
            <img th:src="@{/images/table.jpg}" class="img-responsive"/>
            <p>При входе официант попадает на страничку выбора этажа и столика. Кнопка выбора столика может быть
                подсвеченная тремя цветами:</p>
            <ul>
                <li>Зеленый, значит что столик на данный момент свободен.</li>
                <li>Синий, значит что на данный момент на этом столике активный ваш заказ.</li>
                <li>Красный, значит что столик на данный занят уже другим официантом.</li>
            </ul>
            <p>Дальше при выборе, свободного столика или же вашего вы попадаете на страничку формирования заказа.</p>
            <img th:src="@{/images/waiter_order.jpg}" class="img-responsive"/>
            <p>На страничке заказа официант видит все заранее добавленые продукты, их количество, сумму скидки и общую
                сумму.</p>
            <p>В нижней панели кнопки:</p>
            <ul>
                <li>Add product - при нажатии официанта переводит на страничку меню, где он может выбрать нужный ему
                    продукт.
                </li>
                <li>Add compliment(комплимент от заведения) - перевод на ту же страничку меню только при добавлении
                    продуктов они будут бесплатные.
                </li>
                <li>Set discount - официант может установить скидку в текущий заказ, а также поменять или отменить
                    скидку если совершил ошибку.
                </li>
                <li>Send error - если официант случайно добавил в заказ не тот продукт, то он может отослать сообщение
                    администратуру об ошибке.
                </li>
                <li>Close order - при нажатии на кнопку заказ закрывается и на экран выводится окончательный чек и его
                    можна распечатать)
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>